/* Box sizing resets*/
*, *:before, *:after {
  box-sizing: border-box;
}

/* Body resets and fancy font*/
body{
  font-family: 'Exo 2', sans-serif;
  -webkit-app-region: drag;
  -webkit-user-select: none;
}

/* Header */
.header {
    width: 100%;
    font-size: 2em;
    padding-bottom: 0.2em;
    margin-bottom: 0.5em;
    color: rgb(23, 26, 30);
}

.header span.heading {
    text-align: left;
    padding: 0.2em; 
}

.header span.icons {
    float: right;
}

.header span.icons .fa {
    padding: 0.2em;
}

/* Livestream */
.stream-data {
    width: 100%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    background-color: rgb(37, 116, 169);
    color: white;
}

.stream-link {
    text-decoration: none;
}

.stream-text {
    padding: 10px 20px;
}

.stream-text .fa-circle {
    color: #FC4A1A;
}

.stream-text ul {
    list-style-type: none;
}

.stream-thumbnail {
    width: 100%;
}